@import "tailwindcss";

@layer base{



/*
  Card Income and expenses Styling 
*/
.card{
    @apply w-[48.5%] p-[5%] rounded-2xl flex flex-col overflow-x-clip; 
}
.card>*:first-child{
    @apply text-[14px] font-bold
}
.card>*:first-child+span{
    @apply text-2xl font-bold
}

/*Dialog Layout  : 
    Dialog displays only when you click add Expenses or income 
*/

.visible_Dialog{
    @apply absolute px-[2%] py-[5%] bottom-0 flex flex-col  w-screen h-5/6  rounded-t-2xl;
}

/*Dialog Form Styling  */

dialog[open]{
    @apply translate-y-[25%] inset-x-[5%] h-[80%] lg:max-w-[320px] w-[90%] backdrop:backdrop-blur-xs backdrop:invert-25 ;
    animation: scroll-up .5s ease-in ;

}

/*Form Styling*/
form input , textarea , select{
    @apply border rounded-xl p-2 border-gray-500 ;
}
form input , textarea , select{
    @apply focus:outline-blue-500 ;

}
form label {
    @apply font-medium  text-sm text-gray-500
}
form input[type = "button"]{
    @apply py-2 rounded-xl bg-gray-200 m-1
}
.incomeBtnActive{
    @apply bg-green-500 
}
.expenseBtnActive{
    @apply bg-red-500
}
.incomeBtnActive, .expenseBtnActive{
    @apply text-white
}

form input[type = "number"] , form input[type = "date"]{
    @apply invalid:outline-red-500 valid:outline-green-500
}


/*
Animation 
*/

@keyframes scroll-up {

    0%{
       transform: translateY(90%);
    }
    100%{
        transform: translateY(0);

    }  
}

}
