@import "tailwindcss";
/*
  Card Income and expenses Styling 
*/

.card{
    @apply w-[48.5%] p-[5%] rounded-2xl flex flex-col; 
}
.card>*:first-child{
    @apply text-[14px] font-bold
}
.card>*:first-child+span{
    @apply text-2xl font-bold
}

/*Dialog Layout  : 
    Dialog displays only when you click add Expenses or income 
*/

.visible_Dialog{
    @apply absolute px-[2%] py-[5%] bottom-0 flex flex-col inset-x-[5%] w-full h-5/6  rounded-t-2xl;
}

/*Dialog Form Styling  */
dialog{
    @apply  backdrop:backdrop-blur-xs backdrop:backdrop-invert-25  
}

/*Form Styling*/
form input , textarea , select{
    @apply border rounded-xl p-2 border-gray-500 ;
}
form input , textarea , select{
    @apply focus:outline-blue-500 ;

}
form label {
    @apply font-medium  text-sm text-gray-500
}
form input[type = "button"]{
    @apply py-2 rounded-xl bg-gray-200 m-1
}


/*
Animation 
*/
