@import "tailwindcss";
/*
Personnal Styling 
*/

.card{
    width: 48.5%;
    padding: 5%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    

}
.card>*{
    font-weight: bold;
}