@import "tailwindcss";
/*
Personnal Styling 
*/

.card{
    width: 48.5%;
    padding: 5%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    

}
.card>*{
    font-weight: ;
}
.card>*:first-child{
    font-size: 14px;
    font-weight: bold;
}
.card>*:first-child+span{
    font-size: 1.5rem;
    font-weight: bolder;
}